<style>
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* top navigation */
.topnav {
    overflow: hidden;
    background-color: #6aa84f;
    padding:0px;
    height:100px;
}

.block {
    display: block;
    border: none;
    background-color: #b6d7a8;
    cursor: pointer;
    text-align: center;
    font-size:20px;
    width:199px;
    height:50px;
}
.thisblock {
  display: block;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size:20px;
  width:199px;
  height:50px;
  background-color:#FFFAFA;
}
.block:hover {
    background-color: #ddd;
    color: black;
}
.toptable {
  padding: 0px 0px;
  background-color: #b6d7a8;
  border-style: hidden;
  width:1250px;
  height:10px;
}
.topth {
  padding:0px 0px;
  border-style:hidden;
}
.page_head {
  color:#F5F5DC;
}
.tms_logo {
  position:absolute;
  right:1415px;
  top:10px;
}
.language_option {
  position:absolute;
  Right:-1400px;
  top:2px;
}
.nav_position {
  position: absolute;
  top:45px;
  right:0px;
}
.inside_nav_word {
  color:#8B4513;
  font-weight: 600;
}
/* stop top navigation */

table, th, td
{
    padding: 10px;
    border: 1px solid black;
    width:600px;
    text-align: center;
    word-wrap: break-word;
}
table th {
  background-color: #3a6070;
  color: #FFF;
}
.spilt_layout{
    background-color: #fff;
    width:8px;
    height:650px;
    position:absolute;
    top:100px;
    left:270px;
}

#current_date {
  position:absolute;
  top:80px;
  left:70px;
  font-weight:bolder;
  font-size:100px;
  color:#000;
}
#current_month {
  position:absolute;
  top:220px;
  left:185px;
  font-weight:bold;
  font-size:20px;
  color:#000;
}
#current_year {
  position:absolute;
  top:120px;
  left:40px;
  font-weight:bold;
  font-size:20px;
  color:#000;
}
#current_week {
  position:absolute;
  top:240px;
  left:60px;
  font-weight:bold;
  font-size:40px;
  font-style: oblique;
  color:#000;
}

/* status record */
.daily_status_record {
  width: 500px;
  border-collapse: collapse;
  position:absolute;
  top:140px;
  left:400px;
  height:550px;
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#DCDCDC;
}
.a_i_status {
  width: 400px;
  border-collapse: collapse;
  position:absolute;
  top:140px;
  left:1000px;
  height:150px;
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#DCDCDC;
}
.vital_status_record {
  width: 400px;
  border-collapse: collapse;
  position:absolute;
  top:340px;
  left:1000px;
  height:150px;
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#DCDCDC;
}
.special_care {
  width: 400px;
  border-collapse: collapse;
  position:absolute;
  top:540px;
  left:1000px;
  height:150px;
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#DCDCDC;
}
.status_record_option {
  position:absolute;
  top:410px;
  left:90px
}
.status_record_date_option {
  position:absolute;
  top:350px;
  left:70px;
}
.status_record_display_button {
  position:absolute;
  top:530px;
  left:100px;
}
/* stop status record */

/* memo */
.memo_month_title{
    background-color: #6aa84f;
    border-style:double;
    width:820px;
    height:70px;
    position:absolute;
    top:127px;
    left:600px;
    text-align:center;
}
.memo_form-popup {
  display: none;
  position: fixed;
  top: 200px;
  left: 270px;
  border: 5px solid #f1f1f1;
  z-index: 9;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  height:330px;
}
.memo_form-popup .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.memo_form-popup .cancel {
  background-color: red;
}
.memo_form-popup .btn:hover, .open-button:hover {
  opacity: 1;
}
.today_memo{
    position:absolute;
    top:400px;
    left:15px;
    width : 200px;
    height:260px;
    overflow-y : scroll;
    white-space: pre-wrap;
    background-color:#F0E68C;
    word-wrap:break-word;
}
.memo_display {
  width:800px;
  border-collapse:collapse;
  position:absolute;
  top:200px;
  left:600px;
  height: 500px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#d3d3d3;
}
.memo_table_head {
  padding: 10px 10px;
  border: 1px solid black;
  text-align:center;
  width:400px;
  word-wrap: break-word;
}
.add_memo_button {
  position:absolute;
  top:127px;
  left:530px;
  height:74px;
  width:70px;
}
.previous_memo_month {
  position:absolute;
  top:150px;
  left:630px;
  background-color: #6aa84f;
}
.next_memo_month {
  position:absolute;
  top:150px;
  left:1330px;
  background-color: #6aa84f;
}
/* stop memo */

/* portfolio */
#newPortfolioSeletion{
  width:100%;
  height:100%;
  opacity:.95;
  top:0px;
  left:0px;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#newStaffPortfolio{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#newPatientPortfolio{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#viewStaffPortfolio{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
}
#viewStaffPortfolioTable{
  width:800px;
  padding: 10px;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  text-align: center;
}
#viewPatientPortfolio{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
}
#viewPatientPortfolioTable{
  width:800px;
  padding: 10px;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  text-align: center;
}
#editStaffPortfolio{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#editPatientPortfolio{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
.portfolio_keyword_search {
  position:absolute;
  top:150px;
  left:50px;
}
.portfolio_search_position {
  position:absolute;
  top:200px;
  left:90px;
}
.portfolio_search_background {
  background-color: rgba(255, 255, 255,0.40);
}
.portfolio_search_word {
  font-weight:600;
  font-size:15px;
  color:#000;
  opacity:.95;
}
.portfolio_display {
  position:absolute;
  top:150px;
  left:350px;
  width:1118px;
  height:400px;
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid black;
  background-color:#D3D3D3;
}
.portfolio_display_table {
  width:1100px;
  height:100px;
}
.editformselectcreate {
  max-width:800px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid black;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  left:600px;
  top:200px;
}
.selectpatientorstaff{
  width:100px;
  height:30px;
}
.editformcreatestaff{
  max-width:900px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid black;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  top:40px;
  left:25%;
  width:800px;
  height:610px;
}
.editformcreatepatient {
  max-width:900px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid black;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  top:40px;
  left:25%;
  width:800px;
  height:730px;
}
.editformview {
  max-width:900px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid black;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  top:40px;
  left:25%;
  width:800px;
  height:840px;
}
.editformedit {
  max-width:900px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid black;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  top:40px;
  left:25%;
  width:800px;
  height:790px;
}
.portfolio_table {
  text-align:center;
  width:800px;
}
/* stop portfolio */

/* schedule */
.schedule_table {
  width:700px;
}
.working_schedulebox {
  position:absolute;
  Right:30px;
  top:330px;
  width:730px;
  height:200px;
  overflow-x:hidden;
  overflow-y:scroll;
  border: 1px solid black;
  background-color:#D3D3D3;
}
.center_schedulebox {
  position:absolute;
  Right:30px;
  top:110px;
  width:730px;
  height:200px;
  overflow-x:hidden;
  overflow-y:scroll;
  border: 1px solid black;
  background-color:#D3D3D3;
}
.working_hourbox {
  position:absolute;
  Right:30px;
  top:550px;
  width:730px;
  height: 200px;
  overflow-x:hidden;
  overflow-y:scroll;
  border: 1px solid black;
  background-color:#D3D3D3;
}
.announcementbox {
  position:absolute;
  Right:790px;
  top:110px;
  width:720px;
  height: 640px;
  overflow-x:hidden;
  overflow-y:scroll;
  border: 1px solid black;
  background-color:#D3D3DC;
}
.announcement_table {
  width:700px;
}
#newABlock{
  width:100%;
  height:100%;
  opacity:.95;
  right:0;
  top:0;
  padding:40px, 60px;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#editABlock {
  width:100%;
  height:100%;
  opacity:.95;
  right:0;
  top:0;
  padding:40px, 60px;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#newCSBlock{
  width:100%;
  height:100%;
  opacity:.95;
  right:0;
  top:0;
  padding:40px, 60px;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
}
#newWSBlock{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#newWHBlock{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
.editForm_create_announcement {
  max-width:600px;
  min-width:200px;
  padding:10px 50px
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  left:500px;
  top:200px;
  width:500px;
  height:350px;
}
.editForm_edit_announcement {
  max-width:600px;
  min-width:200px;
  padding:10px 50px
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  left:500px;
  top:150px;
  width:500px;
  height:450px;
}
.editForm_upload_file {
  max-width:600px;
  min-width:200px;
  padding:10px 50px
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff;
  position:absolute;
  left:500px;
  top:300px;
  width:550px;
  height:210px;
}
.schedule_hr {
  margin:10px 0px;
  border:0;
  border-top:1px solid #ccc
}
.schedule_textarea {
  background-repeat:no-repeat;
  background-position:5px 7px;
  width:82%;
  height:95px;
  padding:10px;
  resize:none;
  margin-top:30px;
  border:1px solid #ccc;
  padding-left:40px;
  font-size:16px;
  font-family:raleway;
  margin-bottom:30px
}
.memo_form-popup {
  display:none;
  position: fixed;
  top: 200px;
  left: 270px;
  border: 5px solid #f1f1f1;
  z-index: 9;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  height:330px;
}
.memo_form-popup .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.memo_form-popup .cancel {
  background-color: red;
}
.memo_form-popup .btn:hover, .open-button:hover {
  opacity: 1;
}
/* stop schedule */
</style>
