<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Portfolio.html" />
                <add value="Login.html" />
                <add value="scheduletest.html" />
                <add value="test.html" />
                <add value="test2.html" />
                <add value="index.html" />
                <add value="index.js" />
                <add value="style.css" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
